<h1>Movie #<%=@movie.id%></h1>
<table class="table">
  <tr>
    <td> Title </td>
    <td> <%=@movie.title%> </td>
  </tr>
  <tr>
    <td> Year </td>
    <td> <%=@movie.year%> </td>
  </tr>
  <tr>
    <td> Duration </td>
    <td> <%=@movie.duration%> </%=td>
  </tr>
  <tr>
    <td> Description </td>
    <td> <%=@movie.description%> </%=td>
  </tr>
  <tr>
    <td> Image </td>
    <td> <img src="<%=@movie.image_url%>" width="150">
  </tr>
</table>

<a href = "http://localhost:3000/movies">Back </a>
