<h1>Director #<%=@director.id%></h1>
<table class="table">
  <tr>
    <td> DOB </td>
    <td> <%=@director.dob%> </td>
  </tr>
  <tr>
    <td> Name </td>
    <td> <%=@director.name%> </td>
  </tr>
  <tr>
    <td> Bio </td>
    <td> <%=@director.bio%> </%=td>
  </tr>
  <tr>
    <td> Image </td>
    <td> <img src="<%=@director.image_url%>" width="150">
  </tr>
</table>
